<div class="flex-container">
  <h1>Weather Forecast App</h1>
  <mat-accordion class="list">
    <mat-expansion-panel
    *ngFor="let city of weatherCitiesData"
      class="list-item"
      (opened)="panelOpenState = true; downloadHourlyForecastWeatherData(city.name)"
      (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ city.name }}
        </mat-panel-title>
        <mat-panel-description>
            {{ city.main.temp | number:'1.0-0'}} ° Celsius, 
            wind {{ city.wind.speed }} m/s
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        <table>
          <tr><th>Time</th><th>Temperature</th><th>Wind</th></tr>
          <tr *ngFor="let i of countOfHourlyForecast">
            <td>{{ forecastCityData?.list[i].dt * 1000 | date:'shortTime'}}</td>
            <td>{{ forecastCityData?.list[i].main.temp | number:'1.0-0'}} °C</td>
            <td>{{ forecastCityData?.list[i].wind.speed }} m/s</td>
          </tr>
        </table>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<router-outlet></router-outlet>
