html, body { height: 100%; }
body {
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background: rgb(166,34,195);
    background: linear-gradient(15deg, #a622c3bf 0%, #2d96fd 100%);
}
